<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="master.pwr.whereami"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="master.pwr.whereami.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="master.pwr.whereami.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:name=".WhereAmI"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HighAccuracyActivity"
            android:label="@string/title_activity_hi_acc">
        </activity>
        <activity
            android:name=".activities.NetworkLocationActivity"
            android:label="@string/title_activity_cells">
        </activity>
        <activity
            android:name=".activities.GpsOnlyActivity"
            android:label="@string/title_activity_gps">
        </activity>
        <activity
            android:name=".activities.FusedLocationActivity"
            android:label="@string/title_activity_fused_location">
        </activity>

        <!-- [START] Google Map Api v2 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAGIZVHxGmY74b_1QSmq5GI_tttYt2Iwt8" />
        <!-- [END] Google Map Api v2 -->
    </application>

</manifest>
